-unless @comment.is_root?
  %strong= t('.parent')
  = @comment.parent_id

= simple_form_for @comment, url: api_post_comments_path(@post), remote: true, html: { class: 'form-vertical' } do |f|
  = f.input :parent_id, as: :hidden
  = f.input :body, wrapper: :no_label
  = f.button :submit
