.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="/posts") Blog
      .container.nav-collapse
        %ul.nav
          %li= link_to "New post", new_post_path
        %ul.nav.pull-right
          - if signed_in?
            %li= link_to current_user.username, user_path(current_user.username)
            %li= link_to t('.sign_out'), session_path, method: :delete
          - else
            %li= link_to t('.sign_in'), new_session_path
            %li= link_to t('.sign_up'), new_user_path