- model_class = Post
.page-header
  %h1=t '.posts_listing'
%table.table.table-striped
  %thead
    %tr
      %th= ham(:post, :image)
      %th= ham(:post, :title)
      %th= ham(:post, :text)
      %th= ham(:post, :created_at)
      %th= t '.actions'
      %th= ham(:post, :state)
      %th= ham(:post, :activity_state)
  %tbody
    - @posts.each do |post|
      %tr
        %td
          %img{ src: post.image.thumb }
        %td= post.title
        %td= truncate(post.text, :length => 60, :separator => ' ')
        %td=l post.created_at, :format => :short
        %td
          = link_to t('.show'), post_path(post), :class => 'btn btn-mini'
          = link_to t('.edit'), edit_post_path(post), :class => 'btn btn-mini'
          -if post.deleted?
            = link_to t('.destroy'), posts_path, class: 'btn btn-mini btn-inverse'
          -else
            = link_to t('.destroy'), post_path(post), :method => :delete, data: { :confirm => t('.delete_confirm') }, class: 'btn btn-mini btn-danger'
        %td= post.state
        %td= post.activity_state

= link_to t('.new'), new_post_path, :class => 'btn btn-primary'
