= simple_form_for @post, :html => { :class => 'form-vertical' } do |f|
  = f.input :title, :wrapper => :prepend, :label => false do
    =content_tag :span, "Title", :class => "add-on"
    =f.input_field :title
  = f.input :text, :input_html => { :class => "span6" }
  -unless @post.new_record?
    = f.label :state
    = f.input :state_event, as: :state_event, :label => false
    = f.input :activity_state_event, as: :state_event, :label => false

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), posts_path, :class => 'btn'